{% extends 'base.html' %}


{% block content %}
<style>
    @import url('static/css/entranse.css')
</style>
<h1 align="center">
    Войти в аккаунт <img class="boot" src="static/image/boot.png">
</h1>
<div class="card">
    <div class="card-boby">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="reg">
                {{ error }}
                <p>{{ form.email.label() }}<br>
                    {{ form.email }}
                </p>
                <p>
                    {{ form.password.label() }}<br>
                    {{ form.password }}
                </p>
                <p>{{ form.submit }}</p>
                {% if truth_user %}
                    {{ form.reg }}
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}